
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,300,700|Open+Sans:700|Droid+Sans+Mono');
@font-face {
font-family: head;
src:url(../fonts/head.ttf);
}
@font-face {
font-family:social;
src:url(../fonts/social.otf);
}
@font-face {
font-family: menu;
src:url(../fonts/menu.ttf);
}
body{
/*background-image: url(../bg1.jpg);*/
background-attachment:  fixed;
}

#header{
/*background-image: linear-gradient( 135deg, #333 0%, #000 100%);*/
background-color:black;

}
#logo{

  font-family: head;
  font-size: 35px;
  margin:8px 10px 12px 12px;
  color: white;


}
#mainline{

 font-family:Montserrat;
font-size: 30px;
text-align: center;
margin-top: 50px;




}
#contribute-box{

  cursor: pointer;
  padding: 3px 7px;;
  border-radius: 3px;
  border:1px solid ;
  background-color: aqua;
  border:1px solid ;
  color:white;
}
#contribute-box:hover{
  background-color: transparent;

  color:aqua;



}


.menu-item{
  font-family:Montserrat ;
  float: right;
  font-size:  16px;
  font-weight: 700;
  margin: 12px;
  margin-top: 24px;
  color:white;
  font-weight: 300;
}
.active{

color:grey;
}
.menu-item:hover{
  cursor: pointer;
  color:grey;
}

#view-menu{
  list-style: none;
  position: absolute;
    background-color: #f6f6f6;
    width: 30%;
    z-index:2;
  font-size:16px;
    padding: 0px;


    display: none;

}
.view-item{

  padding: 10px 5px;
  text-align: center;;
}
.view-item:hover{
  color:white;
  background-color: #1d1d1d;
}
#view-control:hover #view-menu{

  display: block;
}
#blogposts{
  margin:60px;
  display:flex;
}
.blog{
  margin:20px;
  width: 30%;


  background-color: #ececec;

}
.blogtext{
font-family:Montserrat;
margin:20px;


}
.heart{

  color:springgreen;
  margin:5px 0px;

}
.tags{
  background-color: grey;
  color: white;
  padding: 5px;
  margin: 0px;
  margin-top: 10px;
  border-radius: 2px;
}
.subblogtext{

  color: grey;
}
#footer{
  padding: 60px 65px 25px 65px;

  background-color:#dadada;

  }
#footer-text{
   font-size: 19px;
   font-family: Montserrat;
  display: inline;
   color:grey;
}
.social{
  margin-top: -20px;
display: inline;;
float: right;
font-size: 50px;
  font-family: social;
  color:grey;
  font-weight: 100;
}
/*------post--------*/

.post{

  background-image: url("../background.jpg");
  height: 450px;
}
.post-title{
  font-family: Montserrat;
  font-size:75px;
  margin: 60px;
  color:#d4d4d4;
  margin-top:110px;


}
.post-author{
display: block;
  font-size:20px;
  color:;
}
